section#rgt-account{
    height:100%;
    width: 100%;
    margin-top:150px;
    padding-bottom: 100px;
}


h2.rgt-subtitle{
    margin-top:20px;
    font-size:20px;
    margin-bottom: 20px;
}

input.form-control:focus{
    outline:none;
}

